
.body { 
    height: 100%;
  
    padding: 150px 0;
    background-color: #3a3a3a;
    background-image: url("./assets/background-image.png");
    
    background-size: 100% 150px; /* MTBH: changed 300px to 150px*/
    background-repeat: no-repeat;
  }